<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ekades.fcmpushnotification">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.ekades.fcmpushnotification.apps.BaseApp"
        android:allowBackup="false"
        android:exported="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/kaitoke" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.ekades.fcmpushnotification.ui.fcm.SubscribeTopicActivity"
            android:screenOrientation="portrait"  >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name="com.ekades.fcmpushnotification.ui.splash.SplashActivity"
            android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name="com.ekades.fcmpushnotification.ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ekades.fcmpushnotification.ui.post.PostDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ekades.fcmpushnotification.ui.user.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ekades.fcmpushnotification.ui.photo.PhotoDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.huaweimap.HuaweiMapActivity"
            android:screenOrientation="portrait" >
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
        </activity>
    </application>

</manifest>